* {margin: 0px; padding: 0px;}

#container { margin: 0 auto; width: 450px; background-color: #F40000;}

#header {
	width: 100%;
	z-index: 1000;
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
}
textarea {
    overflow-y: scroll;
    height: 120px;
    width: 450px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}


.warning { color: #b33a3a; font-family: monospace; font-weight: bold; padding-bottom: 3px; text-align: center; font-size: 16px;}
.success { color: #3c763d; font-family: monospace; font-weight: bold; padding-bottom: 3px; text-align: center; font-size: 16px;}
